<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Play Page</title>
    <link rel="stylesheet" href="learn.css" />
  </head>
  <body>
    <h1>Welcome to Learn a Word</h1>
    <p>Enter your name to continue:</p>
    <form action="/learnPage" method="post" style="text-align: center;">
      <input type="text" name="name" placeholder="Enter your name" style="text-align: center;"/>
      <button type="submit" style="text-align: center;">Submit</button>
    </form>
  </body>
</html>
